* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4b3b75; 
  font-family: Arial, sans-serif;
  color: #fff;
  padding: 30px;
}


.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  max-width: 1100px;
  width: 100%;
}


.card {
  background: rgba(85, 80, 134, 0.9);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  padding: 25px;
  color: #ffe6f2;
  text-align: center;
}

.card h1, 
.card h2 {
  color: #fff0f5;
  margin-bottom: 15px;
}

/* Ajuste da lista */
ul {
  text-align: left;
  margin-top: 10px;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}



.card.full {
  grid-column: span 2;
  max-width: 600px;   
  margin: 0 auto;     
}
